     body {
            background-color: #1e1e1e;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: monospace;
        }
        pre {
            background-color: #1e1e1e;
            color: #00e678;
            font-size: 14px;
            padding: 30px;
            border: 1px solid #00e678;
            border-radius: 8px;
        }